@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
    scroll-behavior: smooth;
}

:root {
    --darkgray-clr: #424242;
    --blue-clr: #d0e4f4;
    --white-clr: #fff;
}



/* HEADER */

header {
    box-shadow: 0 0 1rem var(--darkgray-clr);
}

nav .hamburger {
    font-size: 2rem;
    color: var(--darkgray-clr);
    cursor: pointer;
    border: 3px solid var(--white-clr);
}


nav ul {
    left: -15rem;
    top: 0;
    background-color: var(--darkgray-clr);
    min-height: 100vh;
    min-width: 15rem;
    z-index: 0;
    padding-left: 0;
}

.overlay::after {
    content: '';
    position: absolute;
    left: 15rem;
    top: 0;
    width: calc(100vw - 15rem);
    height: 100%;
    background-color: #070707bf;
    z-index: -1;
}

nav ul i {
    font-size: 2rem;
    color: var(--white-clr);
    float: right;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li {
    list-style: none;
}

nav ul>li:nth-child(2) 
{
    margin-top: 5rem;
}

nav ul li a
{
    text-decoration: none;
    color: var(--white-clr);
    font-size: 1.2rem;
}

nav ul li a:hover
{
    color: var(--blue-clr);
}




/* HOME section */
#home::before {
    content: '';
    position: absolute;
    right: 0;
    height: 300px;
    width: 400px;
    background-color: var(--blue-clr);
}

#home .content {
    max-width: 40%;
}

#home .content::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 400px;
    background: url('/assets/u_150.png') center center;
    bottom: 0;
    right: -24rem;
}

#home .content h1 {
    font-size: 5rem;
}

#home .content p {
    max-width: 60%;
}

.content a {
    text-transform: uppercase;
    color: var(--darkgray-clr);
    border: 1px solid var(--darkgray-clr);
    max-width: fit-content;
    word-spacing: 0.3rem;
}

.content a:hover {
    background-color: var(--darkgray-clr);
    color: var(--white-clr);
}

.home-img {
    min-width: 40%;
    min-height: 550px;
    background: url('/assets/as.jpg') center center;
    background-size: cover;
}




/* SERVICES section */
#services-section {
    min-height: 600px;
    margin: 8rem 0rem;
}

#services-section::before {
    content: '';
    position: absolute;
    width: 45%;
    top: 58%;
    height: 200px;
    background: url('/assets/u_150.png') center center;
}

#services-section::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 170%;
    background-color: var(--blue-clr);
    z-index: -1;
    right: 0;
    top: 50%;
    transform: translate(0%, -55%);
}

.service-img {
    max-width: 60%;
    min-height: 500px;
    background: url('/assets/wf.jpg') center center;
    background-size: cover;
}

.services {
    right: 0;
    top: 30%;
    max-width: 46%;
}

.service {
    max-width: 48%;
    padding: 1rem;
    background-color: var(--white-clr);
    min-height: 220px;
}




/* INFO section */
#info-section {
    background-color: var(--blue-clr);
}

#info-section h2 {
    max-width: 64%;
    font-size: 4rem;
}

.info-image {
    top: 0;
    right: 0;
    min-width: 50%;
    min-height: 450px;
    background: url('/assets/-min-16.jpg') center center;
    background-size: cover;
}

#info-section::after {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background: url('/assets/u_150.png') center center;
    left: 50%;
    transform: translate(-50%);
}




/* ABOUT section */
#about-section::before {
    content: '';
    position: absolute;
    min-width: 17%;
    min-height: 100%;
    right: 0;
    top: 0;
    background-color: var(--blue-clr);
    z-index: -1;
}

#about-section .container {
    padding: 15rem 0rem 3rem 0rem;
}

#about-section .feature {
    max-width: 40%;
}

#about-section .icon {
    max-height: fit-content;
}


#about-section .icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    background-color: var(--blue-clr);
    border-radius: 50%;
    z-index: -2;
}





/* PORTFOLIO section */
#portfolio {
    padding: 6rem 0rem;
}

#portfolio::before {
    content: '';
    position: absolute;
    min-width: 80%;
    min-height: 100%;
    background-color: var(--blue-clr);
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#portfolio::after {
    content: '';
    position: absolute;
    height: 500px;
    width: 250px;
    right: 0;
    bottom: 4rem;
    background: url('/assets/u_150.png');
}

#portfolio .card-section {
    min-width: 50%;
}

.portfolio-card {
    min-width: 48%;
    min-height: 250px;
}

#portfolio .card-section>div:nth-child(1) {
    background: url('/assets/3d-chrome-front-logo-mockup-modern-facade-sign_145275-181.jpg') center center;
    background-size: cover;
}

#portfolio .card-section>div:nth-child(2) {
    background: url('/assets/notebooks-mockup-with-black-element-black-background_24972-1.jpg') center center;
    background-size: cover;
}

#portfolio .card-section>div:nth-child(3) {
    background: url('/assets/logo-mockup-close-up-white-paper_145275-125.jpg') center center;
    background-size: cover;
}

#portfolio .card-section>div:nth-child(4) {
    background: url('/assets/3d-white-logo-mockup-black-facade-sign_145275-184.jpg') center center;
    background-size: cover;
}

#portfolio .card-section>div:nth-child(5) {
    background: url('/assets/logo-mockup-modern-black-hang-sign_145275-221.jpg') center center;
    background-size: cover;
}

#portfolio .card-section>div:nth-child(6) {
    background: url('/assets/outdoor-panel-mock-up_1389-60.jpg') center center;
    background-size: cover;
}

#portfolio .content {
    max-width: 50%;
}

#portfolio h2 {
    max-width: 54%;
    font-size: 4rem;
    background-color: var(--white-clr);
    right: 0;
    bottom: 12rem;
    z-index: 2;
    padding: 2rem 12rem 2rem 2rem;
}




/* STATS section */
#stats-section {
    margin: 5rem auto;
}

#stats-section::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: var(--blue-clr);
}

.stats-img {
    min-width: 48%;
    min-height: 400px;
    background: url('/assets/657.jpg') center center;
    background-size: cover;
}

.stats-img::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: var(--blue-clr);
    bottom: -3rem;
    right: -3rem;
    z-index: -1;
}

#stats-section .content {
    max-width: 40%;
}




/* CONTACT section */
#contact-section {

    background-color: var(--blue-clr);
    margin: 12rem 0rem;
}

#contact-section .container {
    min-height: 15rem;
}

.contact-form {
    min-width: 35%;
    background-color: var(--white-clr);
    box-shadow: 0 0 1rem var(--darkgray-clr);
    left: 20%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1;
}

form input,
textarea {
    min-width: 100%;
    border: none;
    outline: none;
    text-indent: 10px;
    border-bottom: 0.2rem solid var(--darkgray-clr);
}

form textarea {
    min-height: 8rem;
    max-height: 10rem;
}

form button {
    color: var(--darkgray-clr);
    border: 1px solid var(--darkgray-clr);
    max-width: fit-content;
    word-spacing: 0.3rem;
    padding: 0.5rem 3rem;
    background: transparent;
    margin: 0 auto;
}

form button:hover {
    background-color: var(--darkgray-clr);
    color: var(--white-clr);
}

.contact-img {
    min-width: 38%;
    min-height: 550px;
    background: url('/assets/rgerg.jpg') center center;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-10%, -50%);
}




/* FOOTER */
footer {
    background-color: var(--blue-clr);
    margin-top: 15rem;
}

footer p {
    max-width: 20rem;
    margin: 0 auto;
}